.hero {
    height: 800px;
    background-image: url("/images/hero/ocean.jpg");
    background-position: center;
    background-size: cover;
}

.hero-content {
    width: 900px;
    background-color: rgba(51, 47, 47, 0.8);
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 8px;
    text-align: center;
    padding: 50px 0;
    margin: 0 auto;
    position: relative;
    top: 200px;
    color: white;
}

.hero-content h1 {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
}

.hero-content p {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300px;
}

.hero-content a {
    background-color: rgb(198, 198, 0);
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 700;
    text-decoration: none;
    color: black;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
}

.hero-content a:hover {
    background-color: rgb(242, 242, 0);
}

.highlights {
    height: 400px;
    background: linear-gradient(0deg, rgb(277, 255, 253), rgb(126, 193, 202));
}

.highlights h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 0;
    padding-top: 30px;
    color: rgb(59, 65, 64);
}

.destinations {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
}

.destination {
    margin: 0 20px;
}

.destination img {
    width: 400px;
    height: 200px;
    box-shadow: 2px 4px 8px rgb(68, 67, 67);
    border-radius: 10px;
    object-fit: cover;
}

.destination p {
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    color: rgb(124, 123, 123);
    margin: 20px 0;
}

.destination strong {
    color: rgb(0, 160, 117);
}